<section class="flex flex-col bg-teal-950 grow w-1/6">
      <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      Item 1
      </p>
      <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      Item 2
      </p>
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
      Item 3
      </p>
    </div>
</section>
