@fontface {
  font-family: 'Saira Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;600&display=swap');
}

/* reset for a html element */

a {
  color: inherit;
  text-decoration: none;
}

.App {
  font-family: 'Saira Condensed', sans-serif;
  background-color: #282828;
}


@media (max-width: 480px) {
  .App {
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}
