@fontface {
  font-family: 'Reem Kufi', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap')
}

.App {
  font-family: 'Reem Kufi', sans-serif;
  background-color: #011f4b;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: #fff4e6;
}

.content-wrapper {
  max-width: 650px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25vh;
}

.greeting {
  font-size: 52px;
  font-weight: bold;
  border-bottom: 2px solid #FAFAFA;
}

.titles-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-size: 24px;
}

.title {
  margin-bottom: 16px;
}

.links {
  margin-top: 32px;
}